.menu {
  position: absolute;
  width: 500px;
  transition: 0.3s;
  z-index: 99;
  top: 70px;
  background: #fff;
  padding: 0px 20px;
}
.btnMenu {
  padding: 12px 45px;
}
.menu__list {
  list-style-type: none;
  padding: 0px;
  border: 1px solid #d2d4d6;
  background: #f2f5f9;
  border-radius: 8px;
}
.borderBgOrange {
  padding: 5px 30px 5px 0px;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  border-bottom: 1px solid #d2d4d6;
  padding: 10px 5px;
}
.menu__item:hover {
  color: #ff4d4d;
  transition: 0.3s;
  border-left: 2px solid #ff4d4d;
}
.imgArrowTop {
  width: 9px;
  padding: 6px;
}
.vectorRigth {
  width: 10px;
}

/* @keyframes zemlaMove {
    100% {
      transform: translate(0px, 0px) rotate(-180deg);
    }
    0% {
      transform: translate(0px, 0px) rotate(-300deg);
    }
  }
  
  .imgArrow.active {
    animation: zemlaMove 1s;
  } */

@media screen and (max-width: 1445px) {
  .btnMenu {
    padding: 12px 40px;
    font-size: 13px;
  }
}
@media screen and (max-width: 769px) {
  .btnMenu {
    padding: 7px 30px;
    font-size: 10px;
    position: relative;
  }
  .imgArrowBottom {
    width: 12px;
    position: absolute;
    right: 7px;
  }
}
