body::-webkit-scrollbar {
  display: none;
}

.headerTopFixed {
  position: sticky;
  z-index: 999;
  top: 0;
  background: #ffffff;
}
.tilek {
  margin-top: 1300px;
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLeft {
  display: flex;
  gap: 10px;
}
.behoofNav {
  display: flex;
  align-items: center;
}
.imgBehoof {
  width: 100%;
  height: 100%;
}
.behoof {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 34px;
  color: #111;
  margin: 0px 10px;
}
.miniInfo {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #263141;
}
.headerCenter {
  display: flex;
  align-items: center;
}
.btnMenu {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  color: #fff;
  padding: 8px 20px;
  background: #ff4d4d;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px 0px 0px 8px;
  border: none;
}
.btnInpForm {
  position: relative;
  display: flex;
  align-items: center;
}
.imgInp {
  position: relative;
  display: flex;
  align-items: center;
}
.imgSeacrh {
  position: absolute;
  left: 2%;
  border-radius: 8px;
  width: 23px;
  height: 28px;
  border: none;
}

.inpSearch {
  font-family: var(--font-family);
  font-size: 17px;
  max-width: 100%;
  outline: none;
  padding: 12px 0px 12px 50px;
  color: #a1abb9;
  background: #e0e0e1;
  border: none;
  border-radius: 0px 8px 8px 0px;
}
.navBottom {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hrtFrmCart {
  border-radius: 8px;
  width: 23px;
  height: 31px;
  padding: 7px;
  background: #edeeef;
}

/* headerBottom */

.headerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0px;
}
.maxWidthBtmLeft {
  width: 700px;
}
.headerBottomLeft {
  border-radius: 16px;
  padding: 32px 35px 35px 35px;
  max-width: 100%;
  background: #f2f5f9;
}

.headerBtmInfo {
  font-weight: 800;
  font-size: 38px;
}
.headerBtmBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  color: #fff;
  padding: 8px 20px;
  background: #ff4d4d;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
}
.headerBtmInfo span {
  color: #ff4d4d;
}
.headerBottomRigth {
  width: 500px;
}
.headerBottomRigthInfo {
  position: relative;
  border-radius: 16px;
  padding: 35px;
  background: #f2f5f9;
  max-width: 100%;
}
.headerBtmBtnRigth {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  color: #fff;
  padding: 8px 20px;
  background: #ff4d4d;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
}
.headerBtmIphone {
  position: absolute;
  right: 100px;
  top: 110px;
  width: 150px;
}
.imgIphone {
  width: 100%;
  height: 100%;
}
hr {
  display: none;
}
/* adaptive */

@media screen and (max-width: 1445px) {
  .header {
    max-width: 1412px;
    margin: 0px 50px;
  }
  .divImgBehoof {
    width: 30px;
  }
  .behoof {
    font-size: 28px;
  }
  .miniInfo {
    font-size: 7px;
  }
}
@media screen and (max-width: 1025px) {
  .headerBottomLeft {
    padding: 20px;
  }
  .headerBottomRigthInfo {
    padding: 20px;
  }
  .headerBtmInfo {
    font-size: 30px;
  }
  .headerBtmIphone {
    right: 70px;
    top: 87px;
    width: 110px;
  }
}
@media screen and (max-width: 769px) {
  .headerTop {
    gap: 10px;
  }
  .headerLeft {
    gap: 0px;
  }
  .divImgBehoof {
    width: 22px;
  }
  .behoof {
    font-size: 22px;
  }
  .miniInfo {
    font-size: 7px;
  }
  .inpSearch {
    max-width: 100%;
    padding: 9px 0px 9px 30px;
    font-size: 17px;
  }
  .imgSeacrh {
    position: absolute;
    left: 3%;
    border-radius: 8px;
    width: 20px;
    /* height: 28px; */
    border: none;
  }
  .headerBtmInfo {
    font-size: 25px;
  }
  .headerBottomLeft {
    padding: 13px;
  }
  .headerBottomRigthInfo {
    padding: 26px;
  }
  .headerBtmBtn {
    padding: 7px 18px;
  }
  .headerBtmBtnRigth {
    padding: 7px 18px;
  }
  .headerBtmIphone {
    right: 25px;
    top: 101px;
    width: 85px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    max-width: 343px;
    margin: 10px;
  }
  .headerTopFixed {
    padding: 0px 10px;
  }

  .btnMenu {
    display: none;
  }
  .navBottom {
    display: none;
  }
  .headerTop {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .behoofNav {
    display: flex;
    align-items: center;
  }
  .imgBehoof {
    width: 25px;
    height: 25px;
  }
  .behoof {
    font-family: var(--font3);
    font-weight: 700;
    font-size: 23px;
    color: #111;
  }
  .miniInfo {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #263141;
  }
  .inpSearch {
    border-radius: 8px;
    padding: 15px 55px 15px 45px;
  }
  .hr {
    display: block;
  }
  .imgSeacrh {
    border-radius: 8px;
    width: 20px;
    height: 28px;
    border: none;
    left: 5%;
  }
  .miniInfo {
    font-size: 10px;
  }

  /* headerBottom  */

  .headerBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 130px 0px 0px 0px;
  }
  .maxWidthBtmLeft {
    width: 300px;
  }
  .headerBottomLeft {
    padding: 13px;
  }
  .headerBtmInfo {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    color: #0f1113;
  }
  .headerBtmInfo span {
    color: #ff4d4d;
  }
  .headerBottomRigth {
    border-radius: 8px;
    padding: 12px;
    width: 300px;
    position: relative;
  }
  .headerBtmIphone {
    position: absolute;
    width: 90px;
    top: 88px;
    right: 30px;
  }
}
