.NewBox button {
  color: #30d170;
  background-color: #f6f7fa;
  border: none;
  font-size: 16px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text img {
  stroke-width: 1.25px;
  stroke: #a1abb9;
}
text p {
  max-width: 184px;
  height: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #a1abb9;
}

.NewBox1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.miniboxinside {
  display: flex;
  align-items: center;
}
.img {
  border-radius: 1111px;
  padding: 12px;
  max-width: 44px;
  height: 44px;
  margin-left: 130px;
}

.hero-text p {
  background: #f6f7fa;
  height: 40px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.hero__n {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1px solid #48494a;
  max-width: 1440px;
}
@media (max-width: 767px) {
 
  .img {
    display: none;
  }
}
@media (max-width: 574px) {
  .hero__n {
    width: 100%;
  }
}
