.mainDiv {
  max-width: 1240px;
  margin: 0 auto;
  font-family: Helvetica;
}
.sectionPart {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sectionPart h2 {
  font-size: 35px;
  line-height: 50px;
  margin: 55px 0;
}
#sectionPart_box {
  display: flex;
  gap: 60px;
}
.sectionPart_box h1 {
  color: #ff4d4d;
  font-size: 60px;
  line-height: 1px;
}
#containetSection {
  width: 1350px;
  height: 450px;
  border-radius: 16px;
  background-color: #f6f7fa;
  margin-top: 100px;
  display: flex;
  margin-left: -30px;
}
.SectionPart {
  margin-left: 50px;
}
.redText,
.SectionPart h1 {
  font-size: 43px;
  margin-top: 100px;
}
.redText {
  color: red;
}
.boxmini img {
  padding-left: 15px;
  height: 56px;
  margin-top: 30px;
}
.SectionPart-img1 {
  width: 330px;
  height: 395px;
  position: relative;
  left: 5pc;
  top: 3.5pc;
  z-index: 1;
}
.SectionPart-img2 {
  width: 310px;
  height: 335px;
  position: relative;
  left: 20pc;
  top: -17.95pc;
}
/* new */
.new-container {
  padding-top: 110px;
  max-width: 100%;
}
.newText {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.newText b {
  font-size: 24px;
}
.newText button {
  font-size: 16px;
  color: #ff4d4d;
  background-color: #ffffff;
  border: none;
}
.NewContainer {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 20px;
  margin-left: -30px;
}
.NewBox1 {
  width: 256px;
  height: 370px;
  text-align: left;
  background-color: #f6f7fa;
  border-radius: 12px;
}
.NewBox1 p,
.NewBox1 b {
  color: #7e8794;
  font-size: 16px;
  margin-left: 10px;
}
.NewBox1 button {
  color: #30d170;
  background-color: #f6f7fa;
  border: none;
  font-size: 16px;
}
.NewBoxImg {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
}
.NewBox1 h4 {
  margin-left: 10px;
  line-height: 28px;
  font-size: 21px;
  margin-top: -20px;
}
.insideBox {
  display: flex;
}
.miniboximg {
  margin: 10px 10px;
}

@media screen and (max-width: 700px) {
  #containetSection {
    width: 100%;
    height: 645px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #f2f5f9;
  }
  #sectionPart_box {
    flex-direction: column;
  }
  .SectionPart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -80px;
  }
  .SectionPart h1 {
    font-size: 35px;
  }
  .SectionPart span {
    font-size: 36px;
  }
  .boxmini img {
    margin: 10px 0px;
    width: 200px;
    height: 60px;
  }
  .SectionPart-img1 {
    width: 300px;
    height: 310px;
    top: 78px;
    left: 160px;
  }
  .SectionPart-img2 {
    width: 310px;
    height: 366px;
    top: -18.2pc;
    left: 10px;
    z-index: 1;
  }
  .sectionPart h2 {
    font-size: 25px;
    line-height: 30px;
    margin: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  #containetSection {
    width: 470px;
    height: 610px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #f2f5f9;
  }

  .SectionPart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -90px;
  }

  .boxmini img {
    margin: 10px 0px;
    width: 170px;
    height: 50px;
  }

  .newText {
    margin-top: 40px;
  }
}
.new-container-swiper {
  display: none;
}

@media screen and (max-width: 700px) {
  .swiper-slide {
    display: block;
    max-width: 250px;
  }

  .new-container-swiper {
    display: block;
  }
  .new-container {
    display: none;
  }
}
